*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    .main{
        background-color: rgb(203, 240, 240);
    /* background-image: url("Portfolio\ bg.jpg"); */
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    }
    .logo{
    color: rgb(9, 9, 9);
    letter-spacing: 2px;
    font-size: 40px;
    cursor: pointer;
    }
    span{
    color: rgb(15, 14, 14);
    }
    .sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-right: 8%;
    padding-left: 8%;
}
ul li{
display: inline-block;
padding: 10px 30px;
}
ul li a{
color: rgb(11, 11, 11);
text-decoration: none;
}
ul li a:hover{
color: rgb(73, 223, 54);
}
.btn{
color: rgb(11, 11, 11);
background-color: rgb(84, 63, 192);
text-decoration: none;
font-size: 30px;
border: double 5px rgb(11, 11, 11);
border-radius: 20px;
padding: 10px 20px;
font-weight: bold;
font-size: 30px;
transition: transform .6s;
}
.btn:hover{
transform: scale(1.1);
}
.cont{
position: absolute;
top: 45%;
left: 8%;
color: rgb(9, 9, 9);
}
h2{
font-size: 20px;
letter-spacing: 2px;
color: rgb(12, 12, 12);
}
h3{
margin: 20px 0 20px;
font-size: 70px;
letter-spacing: 3px;
}
h4{
font-size: 25px;
margin-bottom: 50px;
color: rgb(6, 33, 31);
}
.det form{
width: 400px;
max-width: 100%;
position: relative;
}
.det form input:first-child{
width: 100%;
display: inline-block;
padding: 14px 160px 14px 15px;
border: 2px solid rgb(70, 54, 192);
border-radius: 30px;
}
.det form input:last-child{
    position: absolute;
    display: inline-block;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: rgb(57, 49, 172);
    color: rgb(229, 228, 239);
    top: 6px;
    right: 6px;
    transition: transform 0.6s;
    }
    .det form input:last-child:hover{
    transform: scale(0.9);
    }
    .img{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    transition: transform 0.6s;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 20px;
    }
    .img:hover{
    transform: scale(1.1);
    }