* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.main {
    background-color: #FFE4C4;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 25px;
}

.sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-right: 8%;
    padding-left: 8%;
    width: 100%;
    position: absolute;
    top: 0;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 10px 30px;
}

ul li a {
    color: rgb(11, 11, 11);
    text-decoration: none;
}

ul li a:hover {
    color: rgb(73, 223, 54);
}

.cont {
    margin-top: 120px;
    text-align: center;
    width: 80%;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.text {
    width: 65%;
    text-align: left;
}

.profile-pic {
    width: 20%;
    text-align: center;
}

.profile-pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

h3 {
    font-size: 70px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

h5 {
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(6, 33, 31);
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    border: 2px blue;
    background-color: rgb(178, 219, 219);
    width: 22%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: left;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project h3 {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.project p {
    font-size: 16px;
}

.det form {
    width: 400px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

.det form input:first-child {
    width: 100%;
    display: inline-block;
    padding: 14px 160px 14px 15px;
    border: 2px solid rgb(70, 54, 192);
    border-radius: 30px;
}

.det form input:last-child {
    position: absolute;
    display: inline-block;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: rgb(57, 49, 172);
    color: rgb(229, 228, 239);
    top: 6px;
    right: 6px;
    transition: transform 0.6s;
}

.det form input:last-child:hover {
    transform: scale(0.9);
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
}

.img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    transition: transform 0.6s;
}

.img:hover {
    transform: scale(1.1);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
